<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="panel panel-primary">
  <div class="panel-heading">Chatroom "<%=@chatroom.chr_name%>"</div>
  <div class="panel-body tab-pane" id="chatcontent">
<%= render(partial: 'content')%>
 </div>
</div>
    </div>
    <div class="col-lg-2"></div>
</div>
<div class="row">
     <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
        <%= form_for(@chat,:url => {:controller=>"chat", :action => "chatsend" },remote: true) do |f| %>
          <div class="col-lg-10">
              <%= f.text_area :ch_text,:class => 'form-control',:id => 'chattextarea'%>
              
          </div>
           <div class="col-lg-2">
               <button type="submit" id="sendchat" class="btn btn-primary">
                    Send
                </button>
               
           </div>
           <%end%>
        </div>
  </div>
  <div class="panel-footer">Panel footer</div>
</div>
        
    </div>
    <div class="col-lg-2"></div>
    </div>
    <script src="//js.pusher.com/2.2/pusher.min.js"></script>
<script>
// If your Heroku application is within the EU region,
// uncomment the followling lines
// Pusher.host = 'ws-eu.pusher.com';
// Pusher.sockjs_host = 'sockjs-eu.pusher.com';

var pusher = new Pusher('<%= Pusher.key %>'); // uses your APP KEY
var channel = pusher.subscribe('test_channel');
channel.bind('chatroom<%=@chatroom.id%>', function(data) {
  $('#chatcontent').html("<%= escape_javascript (render(partial: 'chatroom/content')) %>");

$('#chatcontent').animate({scrollTop: $('#chat-facet').height()});
});
</script>
    
    <script>
    $('#sendchat').click(function() {
       
        
    })
    </script>
